.container {
	width: 100vw;
	height: 100vh;
	background-image: url('../../assets/bg.jpg');
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.form {
	height: 80%;
	width: 90%;
	display: flex;
	flex-direction: column;
	// align-content: space-between;

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__inputs {
		display: flex;
		flex-direction: column;
	}
}
.header__text {
	color: #777777;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 17px;
}
.header__logo {
	width: 20%;
	// height: 20%;
}
